.navigation-bar {
    /*position: fixed;
    bottom: 0;
    left: 0;
    */

    width: 100%;

    background: #171F35;

    display: flex;
    justify-content: space-around;

    padding: 16px 0;
}

.navigation-bar a {
    color: #aeb8cc;
    font-weight: bold;
    text-decoration: none;
}